@font-face {
    font-family: MuseoSansCyrl-100; /* Имя шрифта */
    src: url(/fonts/MuseoSansCyrl-100.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MuseoSansCyrl-300; /* Имя шрифта */
    src: url(/fonts/MuseoSansCyrl-300.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MuseoSansCyrl-500; /* Имя шрифта */
    src: url(/fonts/MuseoSansCyrl-500.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MuseoSansCyrl-700; /* Имя шрифта */
    src: url(/fonts/MuseoSansCyrl-700.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: MuseoSansCyrl-900; /* Имя шрифта */
    src: url(/fonts/MuseoSansCyrl-900.ttf); /* Путь к файлу со шрифтом */
}

body{
    background-color: #f2f2f2;
    font-family: "Museo Sans Cyrl 100", serif;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    margin-top: 30px;
}

